<app-toolbar></app-toolbar>
<app-nav-pills></app-nav-pills>
<div class="containerButton">
<button type="button" class="btn btn-secondary" (click)="openDialogUser()">Nuevo Usuario</button>
</div>
<br>
<table class="table">
    <thead class="table-dark">
      <tr class="tablahead">
        <th class="tablahead" scope="col">Nombre Usuario</th>
        <th class="tablahead" scope="col">Apellido Usuario</th>
        <th class="tablahead" scope="col">Area</th>
        <th class="tablahead" scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let us of varUsuarios">
        <td scope="row">{{us.name}}</td>
        <td>{{us.lastname}}</td>
        <td>{{us.area}}</td>
        <td>
            <button type="button" class="btn btn-warning" (click)="editarUser(us.idUsuarios)">Editar</button>
            <button type="button" class="btn btn-primary" (click)="deleteUser(us.idUsuarios)">Eliminar</button>
        </td>
      </tr>
      
    </tbody>
  </table>
