<div class="loginFormContainer">
    <div class="loginFormHijo">
        <label>LOGIN</label>
        <img src="../../../assets/zofraboministerio.jpg" />
        <form [formGroup]="formUser" (submit)="procesar(formulario.value)" #formulario="ngForm">
            <label>Nombre de Usuario:</label>
            <input type="text" formControlName="user" class="form-control" placeholder="Ingresar Usuario"
                name="txtusuario" />
            <label>Contraseña:</label>
            <input type="password" formControlName="passwords" class="form-control" placeholder="Ingresar Contraseña"
                name="txtpassword" />
            <input type="submit" value="Ingresar" [disabled]="formUser.invalid">
            <p>{{errorMessage}}</p>
        </form>
    </div>
</div>