<app-toolbar></app-toolbar>
<app-nav-pills></app-nav-pills>
<table class="table">
    <thead class="table-dark">
      <tr class="tablahead">
        <th class="tablahead" scope="col">Codigo</th>
        <th class="tablahead" scope="col">Nombre Documento</th>
        <th class="tablahead" scope="col">Area</th>
        <th class="tablahead" scope="col">Tipo</th>
        <th class="tablahead" scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let docAd of varDocsAdmin">
        <td scope="row">{{docAd.codeD}}</td>
        <td>{{docAd.nameD}}</td>
        <td>{{docAd.areaD}}</td>
        <td>{{docAd.typeD}}</td>
        <td>
          <button type="button" class="btn btn-success" (click)="descargarDocsAdmin(docAd.idDocumentos)">Descargar</button>
        </td>
      </tr>
      
    </tbody>
  </table>

