table{
    border-color: #004188;
    width: 50% !important;
    /* margin-top: 250px; */
    margin: 0 25%;
}

th{
    color: #004188;
    border: #004188 3px solid;
}

td{
    border: #004188 3px solid;
}

.tablahead{
    color: white;
    background-color: #004188 !important;
}

.table-dark{
    background-color: #004188 !important;
}
.containerButton{
    margin: 0 25%;
}