<form class="row g-3" (submit)="onSubmit(formulario.value)" #formulario="ngForm">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Nombre de la Mercaderia</label>
    <input type="text" class="form-control" id="inputEmail4" name="txtNombreM" ngModel>
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Nombre Importador</label>
    <input type="text" class="form-control" id="inputPassword4" name="txtNombreImporter" ngModel>
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Cantidad</label>
    <input type="text" class="form-control" id="inputAddress" name="txtCantidadM" ngModel>
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Precio</label>
    <input type="text" class="form-control" id="inputAddress2" name="txtPrecioM" ngModel>
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">Tipo</label>
    <input type="text" class="form-control" id="inputCity" name="txtTipoM" ngModel>
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">Fecha de Entrada</label>
    <input type="date" class="form-control" id="inputCity" name="txtDateIn" ngModel>
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">Punto de Control</label>
    <select id="inputState" class="form-select" name="txtPuntoControlMerc" ngModel>
      <option selected value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
  </div>
  <div class="col-md-6">
    <label for="inputPDF" class="form-label">Documento PDF</label>
    <input type="file" class="form-control" id="inputPDF" name="txtPdfD" (change)="getFile($event)">
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary"
      style="background-color: white; border-color: #004188; color: #004188;" (click)="onCreate()">Crear</button>
    <button class="btn btn-outline-danger" (click)="onCancel($event)">Cancelar</button>
  </div>
</form>