<form class="row g-3" (submit)="updatePoli(formulario.value)" #formulario="ngForm" ngNativeValidate>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Codigo</label>
      <input type="text" class="form-control" id="inputEmail4" name="txtCodigoP" ngModel="{{varPoliza.codeP}}" value="{{varPoliza.codeP}}" required>
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Area</label>
      <input type="text" class="form-control" id="inputPassword4" name="txtAreaP" ngModel="{{varPoliza.areaP}}" value="{{varPoliza.areaP}}" required>
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Estado</label>
      <input type="text" class="form-control" id="inputAddress" name="txtEstadoP" ngModel="{{varPoliza.stateP}}" value="{{varPoliza.stateP}}" required>
    </div>
    <div class="col-12">
      <label for="inputAddress2" class="form-label">Tipo</label>
      <input type="text" class="form-control" id="inputAddress2" name="txtTipoP" ngModel="{{varPoliza.typeP}}" value="{{varPoliza.typeP}}" required>
    </div>
    <div class="col-md-6">
      <label for="inputPDF" class="form-label">Documento PDF</label>
      <input type="file" class="form-control" id="inputPDF" name="txtPdfD" (change)="getFile($event)">
    </div>
    <div class="col-12 buttons">
      <button type="submit" class="btn btn-primary" style="background-color: white; border-color: #004188; color: #004188;" (click)="onCreate()">Editar</button>
      <button class="btn btn-outline-danger" (click)="onCancel($event)">Cancelar</button>
    </div>
  </form>
