form{
    background-color: #004188 !important;
    height: 70% !important;
    width: 50% !important;
    /* margin-top: 250px; */
    margin-left: 370px;
    color: white;
    margin-top: 100px;
}

