form{
    background-color: #004188 !important;
    /* margin-top: 250px; */
    color: white;
    margin: 3%;
    color: white;
    padding: 2%;
}
label.title1{
    font-size: 20px;
    font-weight: bold;
    font-family: arial;
    padding: 2% 42%;
    text-align: center;
}

label.title2{
    font-size: 10px;
    font-weight: bold;
    font-family: arial;
    text-align: center;
}
.buttons{
    display: flex;
    justify-content: center;
}